*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(111, 111, 151); */
    box-shadow: 2px 2px 10px 4px grey;
    border-radius: 5px;
    background-image: url(temp.jpg);
}
.container form{
    height: 400px;
    width: 350px;
    text-align: center;
}
h1{
    font-size: 35px;
}
#textBox{
    margin: 15px 0px;
    width: 40%;
   padding: 1.5%;
   font-size: 20px;
   text-align: center;
}

.toFahrenheit, .toCelsius{
    font-size: 140%;
}

button{
    margin: 20px 0px;
    padding: 5px 15px;
    font-size: 110%;
    border: 2px solid blue;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: blue;
}